// Fonts
$font-family-primary: "Proxima nova", sans-serif;
$font-family-custom: "Nunito Sans", sans-serif;

//Colors
$primaryColor: #FF9C37;
$secondaryColor: #2E2E3A;
$grayColor: #6D6A74;

//Shadow
$shadowCircleOne: #FCC827;
$shadowCircleTwo: #FFEFBF;

// Brand colors

// Breakpoints
$breakpoint-small-max: 640px !default;
$breakpoint-medium-max: 1023px !default;
$breakpoint-large-max: 1199px !default;
//$breakpoint-xlarge-max: 1600px !default;

$breakpoint-small-min: 640px !default;
$breakpoint-medium-min: 1024px !default;
$breakpoint-large-min: 1200px !default;
//$breakpoint-xlarge-min: 1600px !default;
