.introduction {
    margin-top: 149px;

    .wrapper {
        position: relative;

        .introduction-content {
            max-width: 726px;
            width: 100%;

            .title {
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                color: $secondaryColor;
                margin-bottom: 50px;
            }

            .text {
                max-width: 550px;
                width: 100%;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 170%;
                color: $grayColor;
                margin-bottom: 85px;
            }

            &-btns {
                display: flex;
                gap: 50px;
                align-items: center;
            }
        }

        .introduction-image {
            position: absolute;
            pointer-events: none;
            user-select: none;
            width: 1104px;
            height: 828px;
            z-index: -1;
            left: 426px;
            top: -196px;

            img {
                pointer-events: none;
                user-select: none;
                @include adaptivImg();
            }
        }
    }
}