<div class="introduction">
    <div class="wrapper">
        <div class="introduction-content">
            <div class="title">Привлекайте больше гостей с продающим QR-меню для вашего заведения</div>
            <div class="text">
                Создайте своё персонализированное QR-меню и повысьте эффективность обслуживания гостей в несколько раз
            </div>
            <div class="introduction-content-btns">
                <button class="demo-btn outlined-btn">Демо</button>
                <button class="get-btn filled-btn">Получить онлайн меню</button>
            </div>
        </div>
        <div class="introduction-image">
            <img src="static/img/content/mainImage.png" alt="Мока sync company">
        </div>
    </div>
</div>