<header class="header">
    <div class="wrapper">
        <a href="#" class="header-logo">
            <img src="static/img/general/logoImg.svg" alt="картинка логотипа">
        </a>
        <nav class="menu">
            <ul class="menu-list">
                <li class="menu-list-item">
                    <a href="#">Демо</a>
                </li>
                <li class="menu-list-item">
                    <a href="#">Цены</a>
                </li>
                <li class="menu-list-item">
                    <a href="#">О нас</a>
                </li>
            </ul>
        </nav>
        <button class="header-btn">Подключить</button>
    </div>
</header>